@-webkit-keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@-webkit-keyframes fadeInWhite {
  from {
    opacity: 0;
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInWhite {
  from {
    opacity: 0;
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes BlockEntry {
  from {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes BlockEntry {
  from {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes Apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes Shaking {
  from {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem);
  }
  to {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem);
  }
}

@keyframes Shaking {
  from {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem);
  }
  to {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem);
  }
}

@-webkit-keyframes button_hover {
  from {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(#FF79DA, #9356DC);
    -webkit-box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
  to {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9BE3), to(#AE80E5));
    background-image: linear-gradient(#FF9BE3, #AE80E5);
    -webkit-box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(101%);
    -webkit-transform: scale(101%);
  }
}

@keyframes button_hover {
  from {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(#FF79DA, #9356DC);
    -webkit-box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9BE3), to(#AE80E5));
    background-image: linear-gradient(#FF9BE3, #AE80E5);
    -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(101%);
    -webkit-transform: scale(101%);
  }
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  margin-block: 0;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../../font/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../../font/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bolder;
  src: url("../../font/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../../font/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  src: url("../../font/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: lighter;
  src: url("../../font/Roboto/Roboto-Light.ttf") format("truetype");
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus, a:visited {
  color: black;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

header i {
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1.5rem;
  margin: auto 2.5rem;
}

header img {
  height: 2.5rem;
}

#background_image {
  z-index: -1;
  height: 50vw;
  width: 100%;
}

#background_image img {
  z-index: -1;
  height: 50vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  z-index: 1;
  position: relative;
  bottom: 2rem;
  background-color: #F6F6F6;
  padding: 2rem 1rem 6rem 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#menu__restaurant {
  position: relative;
  margin: 1rem 2rem 0 2rem;
}

#menu__restaurant h1 {
  font-family: "Shrikhand";
  font-size: 2.4rem;
  margin-right: 1.4rem;
}

#menu__restaurant .heart {
  position: absolute;
  top: .5rem;
  right: 0;
  height: 2rem;
  cursor: pointer;
}

#menu__restaurant .heart--body {
  fill: #353535;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#menu__restaurant .heart--center {
  fill: white;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#menu__restaurant .heart:hover {
  cursor: pointer;
}

#menu__restaurant .heart:hover .heart--body {
  fill: url(#MyGradient);
}

#menu__restaurant .heart:hover .heart--center {
  opacity: 0;
}

#menu__content fieldset {
  border: 0;
  margin-top: 3rem;
}

#menu__content legend {
  font-size: 1.6rem;
  font-weight: lighter;
  margin-left: .6rem;
  animation-name: Apparition;
  -webkit-animation-name: Apparition;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

#menu__content legend:nth-of-type(1) {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}

#menu__content legend:nth-of-type(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#menu__content legend:nth-of-type(3) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#menu__content legend::after {
  content: '';
  display: block;
  background-color: #99E2D0;
  height: .2rem;
  width: 3rem;
  margin-top: .3rem;
  animation-name: BlockEntry;
  -webkit-animation-name: BlockEntry;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

#menu__content legend::after:nth-of-type(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#menu__content legend::after:nth-of-type(2) {
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
}

#menu__content legend::after:nth-of-type(3) {
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}

#menu__content h2 {
  font-size: 1.6rem;
}

#menu__content .menu__content__entrees__plates, #menu__content .menu__content__main_dishes__plates, #menu__content .menu__content__desserts__plates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  position: relative;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  animation-name: fadeInWhite;
  -webkit-animation-name: fadeInWhite;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  overflow: hidden;
}

#menu__content .menu__content__entrees__plates:nth-child(n+1), #menu__content .menu__content__main_dishes__plates:nth-child(n+1), #menu__content .menu__content__desserts__plates:nth-child(n+1) {
  margin-top: 1rem;
}

#menu__content .menu__content__entrees__plates__box, #menu__content .menu__content__main_dishes__plates__box, #menu__content .menu__content__desserts__plates__box {
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  background-color: white;
  cursor: pointer;
  margin-right: -3rem;
  transition: margin-right 2s ease;
  -webkit-transition: margin-right 2s ease;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
}

#menu__content .menu__content__entrees__plates__box .menu--flex, #menu__content .menu__content__main_dishes__plates__box .menu--flex, #menu__content .menu__content__desserts__plates__box .menu--flex {
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

#menu__content .menu__content__entrees__plates__box .menu--flex span, #menu__content .menu__content__main_dishes__plates__box .menu--flex span, #menu__content .menu__content__desserts__plates__box .menu--flex span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding-right: 1.2rem;
  width: 65vw;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
}

#menu__content .menu__content__entrees__plates__box .menu--flex h4, #menu__content .menu__content__main_dishes__plates__box .menu--flex h4, #menu__content .menu__content__desserts__plates__box .menu--flex h4 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#menu__content .menu__content__entrees__plates [type="checkbox"]:not(:checked),
#menu__content .menu__content__entrees__plates [type="checkbox"]:checked, #menu__content .menu__content__main_dishes__plates [type="checkbox"]:not(:checked),
#menu__content .menu__content__main_dishes__plates [type="checkbox"]:checked, #menu__content .menu__content__desserts__plates [type="checkbox"]:not(:checked),
#menu__content .menu__content__desserts__plates [type="checkbox"]:checked {
  opacity: 0;
}

#menu__content .menu__content__entrees__plates .checkmark, #menu__content .menu__content__main_dishes__plates .checkmark, #menu__content .menu__content__desserts__plates .checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: -3rem;
  bottom: 0;
  width: 3rem;
  background-color: #99E2D0;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
}

#menu__content .menu__content__entrees__plates .checkmark i, #menu__content .menu__content__main_dishes__plates .checkmark i, #menu__content .menu__content__desserts__plates .checkmark i {
  font-size: 2rem;
  color: white;
  opacity: 1;
}

#menu__content .menu__content__entrees__plates__box:hover, #menu__content .menu__content__main_dishes__plates__box:hover, #menu__content .menu__content__desserts__plates__box:hover {
  margin-right: 3rem;
}

#menu__content .menu__content__entrees__plates__box:hover span, #menu__content .menu__content__main_dishes__plates__box:hover span, #menu__content .menu__content__desserts__plates__box:hover span {
  width: calc(65vw - 3rem);
}

#menu__content .menu__content__entrees__plates__box:hover ~ input[type="checkbox"]:not(:checked) ~ .checkmark, #menu__content .menu__content__main_dishes__plates__box:hover ~ input[type="checkbox"]:not(:checked) ~ .checkmark, #menu__content .menu__content__desserts__plates__box:hover ~ input[type="checkbox"]:not(:checked) ~ .checkmark {
  background-color: #99E2D0;
  right: 0;
  width: 6rem;
}

#menu__content .menu__content__entrees__plates input[type="checkbox"]:checked ~ .checkmark, #menu__content .menu__content__main_dishes__plates input[type="checkbox"]:checked ~ .checkmark, #menu__content .menu__content__desserts__plates input[type="checkbox"]:checked ~ .checkmark {
  background-color: white;
  right: 0;
  width: 6rem;
}

#menu__content .menu__content__entrees__plates__box:hover ~ input[type="checkbox"]:not(:checked) ~ .checkmark i, #menu__content .menu__content__main_dishes__plates__box:hover ~ input[type="checkbox"]:not(:checked) ~ .checkmark i, #menu__content .menu__content__desserts__plates__box:hover ~ input[type="checkbox"]:not(:checked) ~ .checkmark i {
  animation-name: spinning;
  -webkit-animation-name: spinning;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#menu__content .menu__content__entrees__plates input[type="checkbox"]:checked ~ .checkmark i, #menu__content .menu__content__main_dishes__plates input[type="checkbox"]:checked ~ .checkmark i, #menu__content .menu__content__desserts__plates input[type="checkbox"]:checked ~ .checkmark i {
  color: #99E2D0;
  opacity: 1;
}

#menu__content .menu__content__entrees__plates:nth-of-type(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#menu__content .menu__content__entrees__plates:nth-of-type(2) {
  animation-delay: .25s;
  -webkit-animation-delay: .25s;
}

#menu__content .menu__content__entrees__plates:nth-of-type(3) {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}

#menu__content .menu__content__entrees__plates:nth-of-type(4) {
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
}

#menu__content .menu__content__main_dishes__plates:nth-of-type(1) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#menu__content .menu__content__main_dishes__plates:nth-of-type(2) {
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}

#menu__content .menu__content__main_dishes__plates:nth-of-type(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#menu__content .menu__content__main_dishes__plates:nth-of-type(4) {
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}

#menu__content .menu__content__desserts__plates:nth-of-type(1) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#menu__content .menu__content__desserts__plates:nth-of-type(2) {
  animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
}

#menu__content .menu__content__desserts__plates:nth-of-type(3) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

#menu__content .menu__content__desserts__plates:nth-of-type(4) {
  animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
}

#menu #menu__order--button {
  display: block;
  text-align: center;
  width: 15rem;
  cursor: pointer;
  margin: 4rem auto 0 auto;
  border-radius: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1.5rem 3rem;
  -webkit-box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
  color: white;
}

#menu #menu__order--button:hover {
  animation-name: button_hover;
  -webkit-animation-name: button_hover;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

footer {
  background-color: #353535;
  padding: 3rem 3rem 3.5rem 3rem;
}

footer svg {
  margin-bottom: 2rem;
  height: 2rem;
}

footer svg .logo {
  fill: white;
}

footer p {
  color: white;
  margin-bottom: 1rem;
}

footer .footer__suggestion::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f2e7';
  font-weight: 900;
  color: white;
  margin-right: 1em;
}

footer .footer__partner::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f2b5';
  font-weight: 900;
  color: white;
  margin-right: 1em;
}

footer {
  margin-top: -2rem;
}
/*# sourceMappingURL=menu.css.map */